<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bulletingroupblast.bulletingroupblast" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.bulletingroupblast.bulletingroupblast.GlobalState">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".UserLandingActivity"
            android:label="@string/title_activity_user_landing"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrganizationActivity"
            android:label="@string/title_activity_organization"
            android:parentActivityName=".UserLandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bulletingroupblast.bulletingroupblast.UserLandingActivity" />
        </activity>
        <activity
            android:name=".CreateUserAccountActivity"
            android:label="@string/title_activity_create_user_account"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bulletingroupblast.bulletingroupblast.MainActivity" />
        </activity>
        <activity
            android:name=".CreateOrganizationActivity"
            android:label="@string/title_activity_create_organization"
            android:parentActivityName=".UserLandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bulletingroupblast.bulletingroupblast.UserLandingActivity" />
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:parentActivityName=".OrganizationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bulletingroupblast.bulletingroupblast.OrganizationActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".OrganizationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bulletingroupblast.bulletingroupblast.OrganizationActivity" />
        </activity>
    </application>

</manifest>
